# .env.api
HTTP_PROTOCOL=https

USER_SERVICE_URL=user:<port_number>
AUTH_SERVICE_URL=auth:<port>
GAME_STATS_SERVICE_URL=stats:<port>

PORT=<port>
API_URL=api:<port>

# .env.auth
HTTP_PROTOCOL=https

USER_SERVICE_URL=user:<port>

DB_PATH=/app/db/auth.db

GITHUB_APP_CLIENT_ID=<client_id>
GITHUB_APP_CLIENT_SECRET=<client_secret>
GITHUB_REDIRECT_URL=localhost:<port>
AUTH_HMAC_SECRET=<secret>

# .env.game_stats
HOST=0.0.0.0
PORT=<port>
DB_PATH=/app/db/game_stats.db

# .env.user
HTTP_PROTOCOL=https
AUTH_SERVICE_URL=auth:<port>

DB_PATH=/app/db/user.db
PORT=<port>
DATA_DIR=/app/data
AVATAR_DIR=/app/data/avatar
USER_API=user:<port>
